* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ----------------resusable component--------------- */

section {
    padding: 80px 0;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

/* --------------------------------------------------Heading------------------------------------------------------- */


h1,
h2,
h3 {


    font-weight: 600;
    text-transform: uppercase;


}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 4rem;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;

}

h2 {
    font-size: 2rem;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;

}

h3 {
    font-size: 1.1rem;
    margin-bottom: 15px;

}

h2:after {
    content: "";
    display: block;
    height: 2px;
    background-color: orange;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

a {
    text-decoration: none;
}


/* -------------------------------------------------paragraph------------------------------------------------------- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 1rem;
    line-height: 140%;
}

/* -------------------------------------------------paragraph------------------------------------------------------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    margin-top: 3px;
}



.btn-full:link,
.btn-full:visited {
    border: 1px solid rgb(252, 152, 70);

    background-color: rgba(247, 187, 197, 0.212);

}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid rgb(252, 152, 70);
    color: rgb(252, 152, 70);
}

.btn:active,
.btn:hover {
    background-color: rgb(190, 115, 53);
    transition: background-color 0.2s;
}


/* ----------------header ---------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    color: rgb(177, 31, 31);
}

.main-nav {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.main-nav li a:visited,
.main-nav li a:link {
    padding: 5px 0;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    word-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid orange;
    color: orange;
}

/* ----------------------sticky nav------------------------ */
.sticky{
    background-color: rgb(240, 239, 239);
    
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 2px 30px rgb(143, 143, 143);
    margin: auto auto;
    vertical-align: auto;

}

.sticky .main-nav li a:visited,
.sticky .main-nav li a:link {
color: black;
margin: 10px 0;
vertical-align: center;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    color: orange;
}

.sticky .logo {
    height: 70px;
    width: auto;
    float: left;
    margin-top: 20px;
}


/* --------------------------icons ----------------------- */
.icon-big {
    display: block;
    font-size: 4rem;
    padding-left: 3.5rem;
    color: orange;
    margin-bottom: 1rem;
}



/* -------------------------------section-meals--------------------------- */

.section-meals {
    list-style: none;
    padding: 0;
}

.meals-showcase {
    width: 100%;
    list-style: none;
}

.meals-showcase li {

    display: block;
    width: 25%;
    float: left;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.meals-showcase .meal-photo img {
    width: 100%;
    transform: scale(1.06);
    height: auto;
    transition: transform 0.2s;

}

.meals-showcase .meal-photo img:hover {
    transform: scale(1);

}
/* ---------------how it works simple 1,2,3---------------- */
.steps-box img{
    margin-top: 30px;
}
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
}
.steps-box:first-child img{
    width: 40%;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 3%;

}

.works-step .div{
    border: 5px solid red;
}


/* ---------------how it works simple 1,2,3---------------- */


/* -----------------section current cities--------------------------  */


.box img {
    width: 100%;
}
.box h3{
    margin-top: 10px;
}
/* -----------------section current cities--------------------------  */




/* -----------------section FORMS--------------------------  */
.contact-form{
    display: block;
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],select,
textarea{
    width: 100%;
    padding: 7px;
    border:1px solid rgb(12, 12, 12);
}
textarea{
    height: 100px;
}

/*-----------------section FORMS-------------------------- */

/*-----------------section FORMS-------------------------- */


/*-----------------section FORMS-------------------------- */
